streamlit
requests
Pillow
pydicom
numpy
fpdf
transformers
torch
accelerate
pillow
streamlit-drawable-canvas
pylibjpeg 
pylibjpeg-libjpeg  
python-gdcm
transformers>=4.30.0
torch>=2.0.0
sentencepiece

